<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Meteo station</title>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css"
            integrity="sha384-sAjZvrYXacB9bJ0LVUOAvlGp7N5A9s6krO+1oZ2bSc1hG7q3UpoTU50kWYTKDOQC"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="/static/css/style.css" />

        <script src="/static/js/theme.js"></script>

        <link rel="manifest" href="/manifest.json">

        <!-- Standard browsers -->
        <meta name="theme-color" content="#0d6efd"/>
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#0d6efd">

        <link rel="apple-touch-icon" href="/static/img/maskable_icons/maskable_icon_x192.png">
    </head>
    <body>
        <div class="container">
            <div class="center">
                <h1 text-id="0" class="float-start text-dark-emphasis">Meteo station</h1>
                <img src="/static/img/icon_animated.svg" alt="Icon" width="60px" height="60px" class="float-start">
                <div class="clearfix"></div>
            </div>

            <div class="frame">
                <div class="text-center h3 text-dark-emphasis">
                    <i class="bi bi-newspaper"></i>
                    <span text-id="1">Current readings</span>
                </div>

                <div class="d-flex justify-content-center my-1" id="loading-current-readings">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

                <div id="current-readings" class="d-none">
                    <div class="fs-5">
                        <i class="bi bi-thermometer-high"></i>
                        <span text-id="2">Temperature</span> (BME280):
                        <span id="bme280-temperature"></span> ℃
                    </div>
                    <div class="fs-5">
                        <i class="bi bi-droplet-fill"></i>
                        <span text-id="3">Humidity</span> (BME280):
                        <span id="bme280-humidity"></span> %
                    </div>
                    <div class="fs-5">
                        <i class="bi bi-speedometer"></i>
                        <span text-id="4">Pressure</span> (BME280):
                        <span id="bme280-pressure"></span> hPa
                    </div>
                    <div class="fs-5">
                        <i class="bi bi-thermometer-high"></i>
                        <span text-id="2">Temperature</span> (DS18B20):
                        <span id="ds18b20-temperature"></span> ℃
                    </div>
                </div>

                <div class="mt-2 d-none" id="sensor-error">
                    <div class="d-flex flex-row justify-content-center">
                        <div class="fs-1 text-danger">
                            <i class="bi bi-x-circle"></i>
                        </div>
                        <div class="fs-3 pt-2 ps-2 text-danger">
                            <span text-id="15">Sensor error</span>
                        </div>
                    </div>
                </div>

                <div class="mt-2 d-none" id="refresh-current-readings-div">
                    <button class="btn btn-primary" id="refresh-current-readings">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>

                    <button class="btn btn-primary d-none" type="button" disabled id="refresh-current-readings-loading">
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span class="visually-hidden" role="status">Loading...</span>
                    </button>
                </div>
            </div>
        
            <div class="frame mt-2">
                <div class="text-center h3 text-dark-emphasis">
                    <i class="bi bi-archive-fill"></i>
                    <span text-id="6">Archive readings</span>
                </div>

                <div class="d-flex justify-content-center my-1" id="loading-archive-readings">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                
                <div id="archive-readings" class="d-none">
                    <div class="mt-2">
                        <button class="btn btn-primary float-start" id="refresh-archive-readings">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>

                        <div class="input-group float-start ms-1">
                            <span class="input-group-text"><i class="bi bi-file-earmark"></i></span>
                            <input type="number" class="form-control short-input archive-readings-settings" id="page" value="1" min="1">
                            <span class="input-group-text"><span id="total-pages"></span></span>
                        </div>

                        <div class="input-group float-start ms-1">
                            <span class="input-group-text"><i class="bi bi-list"></i></span>
                            <input type="number" class="form-control short-input archive-readings-settings" id="rows-number" value="20" min="1">
                        </div>
                        
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="d-flex justify-content-center my-1" id="loading-archive-readings2">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">
                                        <i class="bi bi-calendar"></i>
                                        <span text-id="7">Date</span>
                                    </th>
                                    <th scope="col">
                                        <i class="bi bi-thermometer-high"></i>
                                        <span text-id="2">Temperature</span> (BME280)
                                    </th>
                                    <th scope="col">
                                        <i class="bi bi-droplet-fill"></i>
                                        <span text-id="3">Humidity</span> (BME280)
                                    </th>
                                    <th scope="col">
                                        <i class="bi bi-speedometer"></i>
                                        <span text-id="4">Pressure</span> (BME280)
                                    </th>
                                    <th scope="col">
                                        <i class="bi bi-thermometer-high"></i>
                                        <span text-id="2">Temperature</span> (DS18B20)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="w-100 p-2 ps-3 text-white position-absolute bottom-0">
            <div class="fs-4 fw-medium">
                <span text-id="0">Meteo station</span>
            </div>
            <div class="fs-6">
                <span text-id="8" class="fw-medium">Version</span>:
                <span id="version">{{ version }}</span>
            </div>
            <div class="fs-6">
                <span text-id="9" class="fw-medium">Author</span>:
                <span id="author">Bartek L</span>
                <a href="https://github.com/bartekl1" target="_blank" rel="noopener" class="btn btn-dark btn-sm ms-1">
                    <i class="bi bi-github"></i>
                    <span text-id="10">GitHub profile</span>
                </a>
            </div>
            <div class="mt-1">
                <a href="https://github.com/bartekl1/meteo" target="_blank" rel="noopener" class="btn btn-secondary btn-sm mb-1">
                    <i class="bi bi-github"></i>
                    <span text-id="11">GitHub repository</span>
                </a>
                <a href="https://github.com/bartekl1/meteo/wiki" target="_blank" rel="noopener" class="btn btn-secondary btn-sm mb-1">
                    <i class="bi bi-book"></i>
                    <span text-id="12">Documentation</span>
                </a>
                <a href="https://github.com/bartekl1/meteo/blob/main/LIBRARIES.md" target="_blank" rel="noopener" class="btn btn-secondary btn-sm mb-1">
                    <i class="bi bi-code-slash"></i>
                    <span text-id="13">Libraries</span>
                </a>
                <a href="https://github.com/bartekl1/meteo/blob/main/CHANGELOG.md" target="_blank" rel="noopener" class="btn btn-secondary btn-sm mb-1">
                    <i class="bi bi-clock"></i>
                    <span text-id="14">Changelog</span>
                </a>
            </div>
        </footer>

        <script src="/static/js/translate.js"></script>

        <script src="/static/js/index.js"></script>

        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"
        ></script>
    </body>
</html>